@import url('https://fonts.googleapis.com/css?family=Raleway:200');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 150px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,2,38,1) 52%, rgba(0,212,255,1) 100%);
}
.cards {
box-shadow: 0px 0px 40px white;
  padding: 10px;
  background-color:white;
  width: 600px;
  h1 {
    margin-bottom: 10px;
  }
  .flex {
    margin-bottom: 20px;
    display: flex;
    input {
      width: 80%;
      padding: 10px;
    }
    button {
      cursor: pointer;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      font-size: 20px;
      color: white;
      background-color: blue;
      border-color: transparent;
      width: 20%;
      padding: 10px;
      margin-left: -8px;
    }
  }
}

.table {
  width: 100%;
  
  tr {
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border:1px solid red;
    margin-bottom: 10px;
    td input {
      display: inline-block;
      height: 25px;
      width: 25px;
    }
    img {
      cursor: pointer;
      margin-left: 15px;
    }

    & :nth-child(2) {
      font-weight: bolder;
      font-size: 20px;
    }
  }
}


